@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
}

footer{
display: flex;
width: 900px;
flex-direction: column;
align-items: center;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

img {
	width:100px;
	vertical-align: middle;
	margin-left: 30px;
}


p{

font-size: 32px;
color: #0a2ff1;
font-weight: 300;
}

strong{
	font-weight: 700px;
}
