@import url('https://fonts.googleapis.com/css2? family= Raleway:wght@700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&family=Raleway:wght@700&display=swap');
	
body{
	background: #edf7ff;
	width: 800px;
	margin:auto;
	border-top: 1px solid #0a2ff1;
}

.titulo{
	font-family: 'MuseoModerno', cursive;
	color: #0a2ff1;
	font-size: 117px;
	margin: 0px;

}

.subtitulo{
	font-family: 'MuseoModerno', cursive;
	color: #0a2ff1;
	font-size: 52px;
	margin:0px;

}

.texto{
	font-family: 'MuseoModerno', cursive;
	color: #04146c;
	font-size: 33px;
	text-align: justify;
}

.titulo-lista{
	font-family: 'MuseoModerno', cursive;
	font-size: 38px;
	color: #0a2ff1;

}

.lista{
	font-family: 'MuseoModerno', cursive;
	font-size: 33px;
	color: #04146c;
	font-weight: bold;

}
.hastag{
	font-family: 'MuseoModerno', cursive;
	font-size: 198px;
	color: #8a9af1;
	margin: 0px
}