@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
body, input, button{
	font-family: 'Roboto Slab', serif;
}

body{
	box-sizing: border-box;

}

header{
	width: 100%;
	background-image: url('../imagenes/Desafio3Header.png'); /*No funciona :/ y no encuentro el problema*/
	background-size: contain;
	background-repeat: no-repeat;
	
}


section{
	width: 80%;
	padding: 10px;
	margin: auto;
	}


section h1{
	font-weight: 700; 
	font-size: 58px;
	color: #0a2ff1;
	
}


section p{
	font-weight: 400;
	color: #000000;
	font-size: 25px;
	
}


section h2{
	font-size: 25px;
	font-weight: 700;
	color: #0a2ff1;
	text-align: center;
}

.img-section{
	width: 80%; 
	display: block;
	margin: auto;
}

button{
	font-weight: 400;
	font-size: 26px;
	width: 300px;
	height: 50px;
	margin-bottom: 10px;
	background: #0a2ff1;
	border: none;
	color: #ffffff;
}

footer{
	width: 100%;
	height: 20px;
	background:  #15163d;
}



