@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
	background: #A48D8D;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;

}

.lista{
	width: 1000px;
	background: white;
	list-style-type: none;
	padding: 0px;
	text-align: center;

}

.lista li{
	text-decoration: none;
}

.item-lista:nth-child(1){
	background: black;
	color: white;
	font-size: 66px;
}

.item-lista:nth-child(2){
	background: white;
	color: black;
	font-size: 148px;
}

.item-lista:nth-child(3){
	background: black;
	color: white;
	font-size: 217px;
}

.item-lista:nth-child(4){
	background: white;
	color: black;
	font-size: 60px;
}
.item-lista:nth-child(5){
	background: black;
	color: white;
	font-size: 58px;
}