@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
	display: flex;
	justify-content: center;
	
}
.contenido{
	width: 800px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contenido h1{
	font-family: 'Poppins', sans-serif;
	color: #0a2ff1;
	font-size: 78px;
	

}

.contenido p{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color:#0a2ff1;
}

.contenido-imagen{
	width: 400px;
	height: auto;
	background: url("../imagenes/fondo.jpg");
}

