@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body, input, button{
	font-family: 'Mulish', sans-serif;
	
}

body{

	background: url(./imagenes/M4-desafio1-fondo.png);
}
.contenedor{
	width: 50%;
	margin: auto;
	padding:30px;
	background: url(./imagenes/M4-desafio1-fondo-form.png);
 
}


.contenedor form{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	width: 600px;
	height: 400px;
	padding:20px;
	border: 1px solid #04146c;
 
}



form h1{
	font-weight: 700;
	color: #04146c;
	font-size: 32px;
	
}


::placeholder{
	font-weight: 400;
	color: #414166;
}



form input, button{
	width: 500px;
	height: 50px; 
	margin: 5px;
	box-sizing: border-box;
	font-size: 22px;
}

form button{
	font-weight: 600; 
	background: #15163d;
	color: #ffffff;
	font-size: 22px;
}

